PORT=3000

# Set this to 'mysql' or 'neon'
DB_TYPE=mysql

# MySQL connection string or credentials
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=school_db

# Neon (PostgreSQL) connection string
# DATABASE_URL=postgresql://user:password@hostname.neon.tech/dbname?sslmode=require